version: '3'

services:
  wp:
    image: wordpress:latest
    restart: unless-stopped
    ports:
      - 8980:80
    volumes:
      - ./config/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./wp-app:/var/www/html
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "wordpress"
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: "My_Password"
    depends_on:
      - db
    links:
      - db

  pma:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_PORT: 9306
      MYSQL_ROOT_PASSWORD: "My_Password"
      UPLOAD_LIMIT: 50M
    ports:
      - 8880:80
    links:
      - db:db

  db:
    image: mysql:latest
    restart: unless-stopped
    ports:
      - 9306:3306
    command: [
        '--default_authentication_plugin=mysql_native_password',
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci'
    ]
    volumes:
      - ./wp-data:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: "wordpress"
      MYSQL_ROOT_PASSWORD: "My_Password"

volumes:
  db_data: